<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Twitter Analysis</span></h1>
        </div>
        <nav>
          <ul>
            <li class="current"> <a href="/home">Home</a> </li>
            <li> <a href="/result">Result</a> </li>
          </ul>
        </nav>
      </div>
    </header>
    </section>
      <section id="pred">
        <div class="container">
          <h1>Enter the Topic to analysis.</h1>
          <form action="/predict" method="POST">
            <textarea name="Tweet" placeholder="Enter here..." rows="4" cols="50"></textarea>
            <input type="submit" value="Analyse" class="button">
          </form>
        </div>
   </section>


      

  </body>
</html>
